/* meta */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root
{
    --bg-color: #1f242d;
    --second-bg-color: #363738;
    --text-color: #fff;
    --main-color: #0ef;
    --main-after: rgb(103, 245, 255) ;
    --shadow-after: #ff52f1;
    --shadow-color: #ff00ea;
}
* 
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* main */

html
{
    font-size: 70%;
    overflow-x: hidden;
}

body
{
    background: var(--bg-color);
    color: var(--text-color);
}

  section
  {
      min-height: 100vh;
      padding: 10rem 9% 2rem;
  }

  .heading 
  {
      text-align: center;
      font-size: 4.5rem;
  }

  span{
    color: rgba(0, 238, 255, 0.918);
  }
  header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 100px;
      background: rgba(255,255,255,.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      backdrop-filter: blur(10px);
      border-bottom: 2px solid rgba(255,255,255,.2);
}

.header::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
}

.logo {
  color: var(--text-color);
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar a {
  color: var(--text-color);
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
}

.navbar.active {
	display: block;
}

.navbar a:hover{
  color: var(--second-bg-color);
}

#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}





/* home */

.home {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: var(--text-color);
    text-shadow: 0 .1rem .3rem var(--main-color) ;
}

#particles-js{
    position: relative;
    top: 100%;
    z-index: 1;
}

.home-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./image1.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(35%); /* Sesuaikan dengan faktor kecerahan yang diinginkan */
  z-index: -1;
}

.nama{
  color: #979797;
}

.pp{
    color: #979797;
}

.home-content{
  position: relative;
  margin-top: 15rem;
}

.home-content h3
{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h2
{
    font-size: 3rem;
    margin-bottom: .1rem;
}

.home-content h1
{
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p 
{
    font-size: 1.6rem;
}

    .btn
    {
        align-items: center;
        display: inline-block;
        padding: 1rem 2.5rem;
        margin: 1rem;
        margin-left: 0.3rem;
        background: var(--main-color);
        border-radius: 4rem;
        box-shadow: 0 .5rem 1rem var(--shadow-color);
        color: #f0f0f0;
    }

.btn:hover
{
  color: #f0f0f0;
    box-shadow: none;
    box-shadow: 0 0rem 2.5rem var(--shadow-color);
}

  .social-media a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5rem ease;
    box-shadow: 0 .5rem 1rem var(--shadow-color);
}

.social-media a:hover
{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 .5rem 1rem var(--shadow-after);
}

	/* About */

    .about
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background: var(--second-bg-color);
    }

    .about-img .img-about
    {
        height: 100%;
        width: 100%;
        position: relative;
        animation: floatImage 4s ease-in-out infinite;
    }

    @keyframes floatImage
    {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-2.4rem);
      }
      100% {
        transform: translateY(0);
      }
    }

    .heading 
    {
        text-align: center;
        font-size: 4.5rem;
    }
  
    .about-content h2
    {
        text-align: left;
        line-height: 1.2;
    }

    .about-content h3
    {
        font-size: 2.6rem;
    }

    .about-content p
    {
        font-size: 1.6rem;
        margin: 2rem 0 3rem;
    }

    /* End About */

    /* layanan */

    .Service {
        display: grid;
        place-items: center;
        background-color: #757575;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      .column {
        width: 100%;
        padding: 0 1em 1em 1em;
        text-align: center;
      }
      .card {
        width: 100%;
        height: 100%;
        padding: 2em 1.5em;
        background: linear-gradient(#09efffea 50%, #ff00eae0 50%);
        background-size: 100% 200%;
        background-position: 0 2.5%;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 0 .5rem 2.5rem var(--shadow-color);
      }
      .card h3 {
        font-size: 20px;
        font-weight: 600;
        color: #1f194c;
        margin: 1em 0;
      }
      .card p {
        color: #575a7b;
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.03em;
      }
      .icon-wrapper {
        background-color: #2e2e2ea1;
        position: relative;
        margin: auto;
        font-size: 30px;
        height: 2.5em;
        width: 2.5em;
        color: #ffffff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.5s;
      }
      .card:hover {
        background-position: 0 100%;
      }
      .card:hover .icon-wrapper {
        background-color: #ffffff;
        color: #555555;
      }
      .card:hover h3 {
        color: #ffffff;
      }
      .card:hover p {
        color: #f0f0f0;
      }
      @media screen and (min-width: 768px) {
        section {
          padding: 0 2em;
        }
        .column {
          flex: 0 50%;
          max-width: 50%;
        }
      }
      @media screen and (min-width: 992px) {
        section {
          padding: 1em 3em;
        }
        .column {
          flex: 0 0 33.33%;
          max-width: 33.33%;
        }
      }
    

    /* gallery */

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;}
          h1{
            text-align: center;
            color: white;
            line-height: 0.5;
            font-size: 28px;
            font-family : "Dosis",sans-serif;
          }
        
        .boxs{
          display: flex;
          justify-content: center;
          align-content: space-evenly;
          flex-wrap: wrap;}
          .box{
            position: relative;
            width:300px;
            height: 300px;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 3px 3px 20px rgba(1,1,1,0.3);
            transition: .5s;}

              img{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 100%;
                height: 100%;
              }
              .img-area{
                width: 100%;
                height:80%;}
                 .des h3{
                    color: #ffffff;
                    font-size: 24px;
                    font-family : "Dosis",sans-serif;
                  }
                  
            .content{
              position: absolute;
              height: 20%;
              left: 20px;
              top: 83%;
              color: #d1d1d1;
            }
            .content img{
                border-radius: 50rem;
                width: 2vw;
                height: 4vh;
            }
             .que p{
                margin-top: -40px;
                position: relative;
                color: #d1d1d1;
                font-size: 14px;
                font-family : "Dosis",sans-serif;
              }
            .box:hover{
              transform:scale(1.1);
            }
        
      
      
      @keyframes addBorder {
        0%{
           box-shadow: none;
        }
        100%
        {
          box-shadow: 5px 5px 0px rgba(142, 68, 173,1);
        }
      }

      /* web */

      .webs
  {
    background: var(--second-bg-color);
  }

  .card-container h2
  {
    margin-bottom: 4rem;
  }

  .card-container
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
  }

  .card-container .card-box
  {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
  }

  .card-box img
  {
    width: 100%;
  }

  .card-box img:hover
  {
    transform: scale(1.1);
  }

  .card-box .card-layer
  {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0,0,0, .1), var(--bg-color) );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
  }

  .card-box:hover .card-layer
  {
    transform: translateY(0);
  }

  .card-layer h4 
  {
    font-size: 3rem;
  }

  .card-layer p
  {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
  }

  .card-layer a
  {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
  }

  .card-layer a i 
  {
    font-size: 2rem;
    color: var(--second-bg-color);
  }

  .card-box img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .card-box img:hover {
    filter: grayscale(0);
  }

        /* Contact */
      
        .contact h2
        {
          margin-bottom: 3rem;
        }
        
        .contact form 
        {
          max-width: 70rem;
          margin: 1rem auto;
          text-align: center;
          margin-bottom: 3rem;;
        }
        
        .contact form .input-box
        {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        
        .contact form .input-box input,
        .contact form textarea
        {
          width: 100%;
          padding: 1.5rem;
          font-size: 1.6rem;
          color: var(--text-color);
          background: var(--second-bg-color);
          border-radius: .8rem;
          margin: .7rem 0;
        }
        
        .contact form .input-box input-box{
          margin: 49%;
        }
        
        .contact form textarea
        {
          resize: none;
        }
        
        .contact form .btn-about{
          margin-top: 2rem;
          cursor: pointer;
        }

    /* auto size */

    @media (max-width: 1200px) {
      html {
        font-size: 55%;
      }
    }
    @media(min-width: 992px){
        .navbar-expand-custom {
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
        .navbar-expand-custom .navbar-nav {
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .navbar-expand-custom .navbar-toggler {
            display: none;
        }
        .navbar-expand-custom .navbar-collapse {
            display: -ms-flexbox!important;
            display: flex!important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
        }

         .header{
          padding: 1.25rem 4%;
         }
    }
    
    
    @media (max-width: 991px){
      .header {
        padding: 2rem 3%;
      }
      
      .navbar{
        position: relative;
        right: 0 ;
      }
      
      section {
        padding: 10rem 3% 2rem;
      }
      
      .services
      {
        padding-bottom: 7rem;
      }
        #navbarSupportedContent ul li a{
            padding: 12px 30px;
        }
        .hori-selector{
            margin-top: 0px;
            margin-left: 10px;
            border-radius: 0;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }
        .hori-selector .left,
        .hori-selector .right{
            right: 10px;
        }
        .hori-selector .left{
            top: -25px;
            left: auto;
        }
        .hori-selector .right{
            bottom: -25px;
        }
        .hori-selector .left:before{
            left: -25px;
            top: -25px;
        }
        .hori-selector .right:before{
            bottom: -25px;
            left: -25px;
        }
        .contact{
          min-height: auto;
        }
    }

    @media (max-width: 768px) {

      .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        background: rgba(255,255,255,.1);
        border-bottom: 2px solid rgba(255,255,255,.2);
        display: none;
        backdrop-filter: blur(10px);
      }

      .navbar.active{
        display: block;
      }

    .navbar a {
      display: block;
      margin: 1.5rem 0;
    }

    #menu-icon{
      display: block;
    }

      .home 
      {
      flex-direction: column;
      }
      
      .home-content h3
      {
      font-size: 2.6rem;
      }
      
      .video-content iframe{
        width: 82vw;
        height: 220px;
        position: relative;
        right: 1.5rem;
        padding-bottom: 1rem;
      }
      
      .card h2
      {
        margin-bottom: 3rem;
      }
      
      .card-container
      {
        grid-template-columns: repeat(2, 1fr);
      }
      .home-content h1
      {
      font-size: 5rem;
      }
      
      .home-img 
      {
      width: 90vw;
      margin-top: 4rem;
      }
      
      .about
      {
      flex-direction: column-reverse;
      }
      
      .about img{
      width : 70vw;
      margin-top: 4rem;
      }
      
      .services h2
      {
      margin-bottom: 3rem;
      }
      
      .portfolio h2
      {
      margin-bottom: 3rem;
      }
      
      .portfolio-container
      {
      grid-template-columns: repeat(2, 1fr);
      }
      
      .slider
      {
      margin-bottom: 3rem;
      }
      
      }
      
      @media (max-width: 617px) {
      .portfolio-container {
      grid-template-columns: 1fr;
      }
      }
      
      @media (max-width: 450px)
      {
      html {
      font-size: 50%;
      }
      
      .contact form .input-box input 
      {
      width: 100%;
      }
      }
      
      @media (max-width: 450px){
      .home-img img {
      width: 90vw;
      }
      
      .about-img img {
      width: 90vw;
      }
      }
