body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}

#newPostForm input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

#imageUpload {
    padding: 10px;
}

#imageUpload:focus {
    outline: none;
    border-color: #333;
}

#posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.post:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.post .title {
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}

.post .delete-button {
    background-color: transparent;
    color: #888;
    border: none;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.3s;
}

.post .delete-button:hover {
    color: #ff0000;
}
